<h1 id="welcome-banner" class="text-center">Welcome to <strong>Choose Your Own Quest</strong>, a web application that puts you right in the middle of the story. You will make crucial decisions each step along the way that effect the way the story unfolds and ultimately determines whether or not you complete your quest!</h1>

    <h3 class="text-center panel-header"><strong>Sign Up or Sign In</strong><h3>
    <p>
      Sign Up or Sign In so you can save your progress as your quest unfolds. This will allow you to sign out and resume your quest from the same spot when you sign back in.
    </p>

    <h3 class="text-center panel-header"><strong>Begin Your Quest</strong><h3>
    <p>
      Select one of our quests and start questing! Your progress will be saved so you can sign out and then later resume your quest right where you left off. Good luck!
    </p>
